*{outline:1px solid rgba(255,0,0,0.4);}
/* Header */
body
{
	font-family: Merriweather;
}
body p
{
	font-family:sans-serif;
    
}
/*--------- Header */

header a,h3{
	color: #f4f0bb;
}
nav li a{
	display: block;
	padding: 15px 15px;
	transition: all 0.2s;
	border-radius: 6px;
}
nav li a:hover, nav li a:focus{
	text-decoration: none;
	outline: none;
	background: #f4f0bb;
}

#main-navigation{
	z-index: 1;
	position: absolute;
	right: 10px;
	margin: 10px 0 0 0;
}
#main-navigation ul{
	background: rgba(218,44,56,0.7);
	list-style: none;
	padding: 10px;
	border-radius: 5px;
}
.line-nav p{
    margin: 10px;
    padding: 0;
    text-align: center;
    color: #f4f0bb;
    font-size: 17px;
    vertical-align: middle;
}
.line-nav button span{
    background-color: #f4f0bb;
}
.line-nav{
    background-color: #da2c38; 
    width: 100% auto;
}
/* Hero */
.hero-image
{
	background: url(../img/creamy.jpg);
	background-size:120%;
    background-position: center;
    background-repeat: no-repeat;
	color: #f4f0bb; 
   
}
.frase{
	margin: 0 0;
    padding:180px 0;
	text-align: center;
    vertical-align: middle; 
}
.frase p{
font-family:sans-serif;
}
.sombra{
	background: rgba(10, 10, 10, 0.72);
	padding-top: 10px ;
}

/* section so-creame */
.so-cream img{
       width: 99%;
}
.so-cream {
    background: #f4f0bb;
    text-align: center;
    color:#da2c38;
    margin:0px;
    padding: 30px;
}
/* section about */
.about{
    background: #da2c38;
    color: #f4f0bb;
    text-align: center;
    padding: 50px; 
}
/* section icon */
.icon-section{
    color:#da2c38;
    background: #f4f0bb;
    text-align: center;
    margin: 50px;
}
.icon-section i{
    font-size: 100px;
}
.footer{
    background: #da2c38;
    color: #f4f0bb;
    text-align: left;
    padding: 12px;
    margin-left: 0;
    vertical-align: middle;
}



